body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

#docbuilder {
  margin-top: 60px;
}

#droppable {
  min-height: 791px;
}

.draggable, .snippet {
  width: 100%;
  margin-bottom: 5px;
  z-index: 1000;
}
